.container{
    display: flex;
    justify-content: center;
    .row{
        margin-top: 2em;
        align-items: center;
        .container-texto{
            width: fit-content;
            padding: 4em 0em;
            .texto{
                font-size: 52px;
                white-space: nowrap
            }
            .pesquisa{
                text-align: center;
                border: 1px solid black;
                padding: 1.2em 1.2em;
                border-radius: 40px;
            }
            input{
                font-size: 19px;
                text-align: center;
                text-emphasis: none;
                border: 0;
                box-shadow: 0 0 0 0;
                outline: 0;
            }
            button{
                border: 0;
                background-color: transparent;
            }
        }
    }
}