.conteudo-card{
    margin-bottom: 1em;
    box-shadow: 8px 8px 40px #e7e7e7;
    border-radius: 20px;    
    margin: 0.5em 0.5em;

    &:hover {
        box-shadow: 8px 8px 20px #a5a5a5;
        transform: translateY(-1px);
        cursor: pointer;
    }
    .imagem{
        .img-poke {
            width: 100%;
            height: auto;
        }
        button{
            border: none;
        }
    }
    
    .nome-poke{
        font-size: 28px;
    }
    .peso-poke{
        font-size: 20px;
    }
}

button{
    border: none;
}
