.card-poke {
    display: flex;
    justify-content: center;

    height: 420px;
    width: auto;
    
    box-shadow: 8px 8px 40px #e7e7e7;

    margin: 2em 0em;
    &:hover {
        box-shadow: 8px 8px 20px #a5a5a5;
        transform: translateY(-5px);
        cursor: pointer;
    }
    .img-poke {
        width: 100%;
        height: auto;
    }
    .imagem{
        width: 100px;
    }
    p {
        margin-left: 1em;
    }
    .tipo {
        font-size: 18px;
    }
}
