.conteudo-card{
    margin-bottom: 1em;    
    margin: 0.5em 0.5em;
    box-shadow: 8px 8px 40px #e7e7e7;
    border-radius: 20px;

    &:hover {
        box-shadow: 8px 8px 20px #a5a5a5;
        transform: translateY(-1px);
        cursor: pointer;
    }
    .imagem{
        .img-poke {
            width: 100%;
            height: auto;
        }
        button{
            border: none;
        }
    }
    .nome-poke{
        font-size: 28px;
    }
}

.modal{
    
    .modal-body{  
        background-image: url("../imagens/imagem-fundo.jpg") ;
        opacity: 0.95;
        background-repeat: no-repeat;
    }
}

.poke-info{
    display: flex;
    justify-content: space-around;

    .poke-image{
        display: flex;
        align-items: center;
        margin-right: 15px;
        img{
            display: block;
            align-items: center;
            border-image: 20px solid black;
            max-width: 200px;
            max-height: 200px;
        }
    }
    .info-direita{
        padding: 1em;
        border-radius: 20px;
        background-color: white;
        box-shadow: 46px 17px 48px 0px rgba(181,181,181,0.5);
        opacity: .91;
        .info-luta{
            .poke-progress-bar{
                margin: 5px 0px;
                
            }
        }
    }
}

button{
    border: none;
}
.icone-fechar:hover{
    cursor: pointer;
}
