.botoes{
    button{
        background-color: rgb(128, 255, 212);
        margin-bottom: 3em;
        padding: 1em 5em;
        border: 1px solid black;
        border-radius: 15px;
        &:hover{
            background-color: rgb(0, 255, 170);
        }
    }
    .botao-anterior{
        margin-right: 1em;
    }
}